html{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}
p,#noWhitespace{
    color:red;
    width: 1000px;
    border: 1px solid yellow;
    padding: right 10px;
    margin: left 10px;
}
ul{
    padding: left 10px;
    border: 10px solid yellow;
    margin: 0 auto;
    width: fit-content;
    background-color: aqua;
    text-shadow: 3px 3px 3px red;
    display: auto;
}
img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}