  <!-- Navigation Bar -->
   <nav>
  <div class="navbar">
    <a href="#">Home</a>
    <div class="dropdown">
        <a href="#" class="dropbtn">About &#x25BC;</a>
        <div class="dropdown-content">
            <a href="#">About Selenium</a>
            <a href="#">Structure and Governance</a>
            <a href="#">Events</a>
            <a href="#">Ecosystem</a>
            <a href="#">History</a>
            <a href="#">Get Involved</a>
            <a href="#">Sponsors</a>
            <a href="#">Sponsor Us</a>
        </div>
    </div>
    <a href="#">Downloads</a>
    <a href="#">Documentation</a>
    <a href="#">Projects</a>
    <a href="#">Support</a>
    <a href="#">Blog</a>
</div>
</nav>
